MWCCDC System Enumeration Report - {{ ansible_date_time.date }}
Category: {{ enum_category }}
Hostname: {{ inventory_hostname }}
IP: {{ ansible_default_ipv4.address }}

{% if enum_category in ['1', '8'] %}
=== System Overview ===
{{ overview.stdout }}

{% endif %}
{% if enum_category in ['2', '8'] %}
=== Users & Authentication ===
{{ users.stdout }}

{% endif %}
{% if enum_category in ['3', '8'] %}
=== Network ===
{{ network.stdout }}

{% endif %}
{% if enum_category in ['4', '8'] %}
=== Processes ===
{{ processes.stdout }}

{% endif %}
{% if enum_category in ['5', '8'] %}
=== Logs (auth.log last 50) ===
{{ logs.stdout }}

{% endif %}
{% if enum_category in ['6', '8'] %}
=== Filesystem ===
{{ fs.stdout }}

{% endif %}
{% if enum_category in ['7', '8'] %}
=== Security Scan ===
{{ security.stdout }}

{% endif %}
Report generated for inject/threat hunting. Review anomalies.