---
# From IDS.sh: Suricata IDS/IPS
- name: Install Suricata
  package:
    name: suricata
    state: present
  when: ids_action | default('install') == 'install'

- name: Template config
  template:
    src: suricata.yaml.j2
    dest: /etc/suricata/suricata.yaml
  notify: restart suricata
  when: ids_action | default('install') == 'install'

- name: Template custom rules
  template:
    src: suricata_custom.rules.j2
    dest: /etc/suricata/rules/custom.rules
  notify: update rules
  when: ids_action | default('install') == 'install'

- name: IPS mode (if selected)
  lineinfile:
    path: /etc/suricata/suricata.yaml
    regexp: '^af-packet:'
    line: 'af-packet: { interface: {{ ansible_default_ipv4.interface }}, cluster-id: 99, cluster-type: cluster_flow, defrag: yes }'  # IPS inline
  when:
    - ids_type == 'IPS'
    - ids_action | default('install') == 'install'

- name: Adjust (e.g., SSH rule)
  shell: suricata-update  # Refresh rules
  when:
    - ids_adjust == 'ssh_rule'
    - ids_action | default('install') == 'install'

- name: Remove Suricata
  block:
    - name: Stop Suricata service
      systemd:
        name: suricata
        state: stopped
        enabled: false
      failed_when: false

    - name: Remove Suricata package
      package:
        name: suricata
        state: absent

    - name: Remove Suricata config
      file:
        path: /etc/suricata/suricata.yaml
        state: absent

    - name: Remove Suricata custom rules
      file:
        path: /etc/suricata/rules/custom.rules
        state: absent

    - name: Reload systemd after Suricata removal
      systemd:
        daemon_reload: yes
      changed_when: false
  when: ids_action | default('install') == 'remove'

