---
# From Honeypot.sh: Endlessh (SSH honeypot)
- name: Install Endlessh
  package:
    name: endlessh
    state: present
  when: honeypot_action | default('install') == 'install'

- name: Template config
  template:
    src: endlessh_config.j2
    dest: /etc/endlessh/config
  notify: restart endlessh
  when: honeypot_action | default('install') == 'install'

- name: Systemd unit
  template:
    src: endlessh.service.j2
    dest: /etc/systemd/system/endlessh.service
  notify: reload systemd
  when: honeypot_action | default('install') == 'install'

- name: Adjust (e.g., verbose)
  lineinfile:
    path: /etc/endlessh/config
    regexp: '^LOG_LEVEL'
    line: 'LOG_LEVEL verbose'  # Or {{ honeypot_adjust }}
  when:
    - honeypot_adjust == 'verbose'
    - honeypot_action | default('install') == 'install'

- name: Export logs
  shell: journalctl -u endlessh -f > "{{ liaison_log_dir }}/endlessh_export_{{ ansible_date_time.epoch }}.log" &
  async: 300
  poll: 0
  when: honeypot_action | default('install') == 'install'

- name: Remove Endlessh
  block:
    - name: Stop Endlessh service
      systemd:
        name: endlessh
        state: stopped
        enabled: false
      failed_when: false

    - name: Remove Endlessh unit
      file:
        path: /etc/systemd/system/endlessh.service
        state: absent

    - name: Remove Endlessh config
      file:
        path: /etc/endlessh/config
        state: absent

    - name: Remove Endlessh package
      package:
        name: endlessh
        state: absent

    - name: Reload systemd after removal
      systemd:
        daemon_reload: yes
      changed_when: false
  when: honeypot_action | default('install') == 'remove'

